.p-selectable-cell {
  width: 25%;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.p-selectable-row {
  background-color: #767676;
}
.p-row-odd {
  background-color: rgba(255, 248, 220, 0.383);
}
tbody.p-datatable-tbody {
  background-color: #6c6c6c;
}
.p-paginator {
  align-items: center;
  justify-content: center;
  display: flex;
}
thead.p-datatable-thead {
  color: #fff;
  background-color: #00000099;
}


.containSelect select {
  background-color: #7a7a7a;
  height: 32px;
  border-radius: 5px 0px 0px 5px;
}

.btn-filter {
  border-radius: 0 5px 5px 0px;
  width: 53px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
}
.filterState {
  display: flex;
}

.dateOrders {
  padding-bottom: 10px;
  color: #3c3c3c;
}

.orderState {
  text-align: right;
}

.orderState select {
  background-color: #a8a8a8;
  border: none;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
}

.Orders {
  background-color: #282828;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px #0c0c0c;
  padding: 10px;

  .ordertitle {
    margin-top: 20px;
    margin-left: 20px;
  }

  .allorders {
    background-color: #3c3c3c;
    margin: 10px;
    border-radius: 5px;

    .filterorders {
      display: flex;
      margin-left: 20px;
      padding-top: 15px;

      .typesfilters {
        margin-right: 30px;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;

        .getallOrders {
          border-radius: 3px;
          width: 100px;
          height: 32px;
          align-items: center;
          display: flex;
          justify-content: center;
          border: none;
          transition: 250ms;
        }
        .getallOrders:hover {
          color: #fff;
          background-color: grey;
        }
      }
      .inputfilter {
        border-radius: 3px;
        border: none;
        color: #cacaca;
        font-size: 14px;
        height: 32px;
        width: 150px;
        display: flex;
        padding-left: 5px;
        background-color: #282828;
      }
      .typesfilters:last-child {
        margin-right: 0px;
      }      
    }

    .buttonseemorecontainer {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        padding-bottom: 20px;

        .titleView {
            color: #cacaca;
            height: 34px;
            background-color: #282828;
            display: flex;
            align-items: center;
            padding: 0 5px;
            border-radius: 3px;
            font-size: 12px;
        }
        .titleView:hover{
            color: #19f9a4;
        }
    }

  }

  .ostateselector {
    background-color: #282828;
    border: none;
    border-radius: 3px;
    color: rgb(132, 132, 132);
  }
}
