#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#products {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}



#tr:hover {background-color: #ddd;}
#trHeader{
   background-color: #4CAF50;
}
#trHeader:hover{
background-color: #4CAF50;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.delete-td{
  background: rgba(255, 0, 0, 0.227);
}
.delete-td:hover{
  background: rgba(255, 0, 0, 0.72);
}
.getall-td{
  background: rgba(13, 255, 0, 0.227);
}
.getall-td:hover{
  background: rgba(30, 255, 0, 0.72);
}