#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#products {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  @media screen and (max-width: 600px) {
    font-size: 9px;
    padding: 0;
    display: flex;
    // flex-direction: column;
  }
}

#products td,
#products th {
  border: 1px solid #ddd;
  padding: 5px;
  font-weight: 900;
  color: #0c0c0c;
  @media screen and (max-width: 600px) {
    margin: 0;
    padding: 2px;
  }
}

#tr:hover {
  background-color: #ddd;
}
#trHeader {
  margin-top: 100px;
  background-color: #1ed38d;
}
#trHeader:hover {
  background-color: #1ed38d;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1ed38d;
  color: white;
}

.delete-td {
  background: rgba(255, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 900;
  margin: 0px 5px 0px 5px;
}
.delete-td:hover {
  background: rgba(223, 16, 16, 0.852);
}
.getall-td {
  background: #209367;
  font-size: 15px;
  font-weight: 900;
  margin: 0px 5px 0px 5px;
}
.getall-td:hover {
  background: #0abf7a;
}

.disable {
  background: rgb(96, 86, 86);
}

.fontSizeIcon{
  font-size: 20px !important;
  padding: 1px;

}

.buttonDiscountComp{
  background: #209367;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  
}
.buttonBackComp{
  background: #209367 !important;
  padding: 5px;
  border-radius: 5px;
}