/* DataTableDemo.css */
.p-inputtext.p-component {
    height: 30px;
    border-radius: 8px;
}
.selectRol{
    display: flex;
    margin-top: 81px;
    flex-direction: column;
}
.colDeleteUser {
    display: table-cell;
    border-radius: 0 25px 25px 0;
    background-color: black;
}
.btnDelete{
    background-color: brown;
    color: cornsilk;
    border-radius: 5px;
}
.FilterAndProducts {
    display: flex;
}
button.p-paginator-page.p-paginator-element.p-link {
    width: 20px;
    font-family: fantasy;
    background-color: rgb(187, 160, 147);
}
button.p-paginator-page.p-paginator-element.p-link.p-highlight {
    background-color: aqua;
}
button.p-paginator-page.p-paginator-element.p-link.p-paginator-page-end.p-highlight {
    background-color: chartreuse;
}
button.p-paginator-next.p-paginator-element {
    width: 20px;
    height: 15px;
    margin: 3px;
}
button.p-paginator-prev.p-paginator-element.p-link {
    width: 20px;
    height: 15px;
    margin: 3px;
}
button.p-paginator-last.p-paginator-element.p-link.p-disabled {
    width: 20px;
    height: 13px;
}
button.p-paginator-first.p-paginator-element.p-link {
    width: 20px;
    height: 13px;
}
.profileUser{
    border-radius: 25px 0px 0 25px;
    // border: 2px solid white;
    box-shadow: 1px 2px 5px rgb(117, 248, 105);
}
.ModifyUser {
    display: flex;
    justify-content: center;
}
.picPerfil{
    // display: flex;
    border-radius: 25px 0px 0 25px;
    padding: 1px;
    // background-color: rgb(148, 148, 151);
}
.colNameUser{
    height: 50px;
    width: 80px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.RolUser {
    text-align: center;
    font-weight: 500;
}
.mailUser{
    padding: 5px;
}
.p-inputtext.p-component.p-column-filter {
    height: 30px;
    padding: 5px;
}

.datatable-filter-demo .p-paginator .p-paginator-current {
    margin-left: auto;
}

.datatable-filter-demo .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;
}

.datatable-filter-demo .p-progressbar .p-progressbar-value {
    background-color: #607D8B;
}

.datatable-filter-demo .table-header {
    display: flex;
    justify-content: space-between;
}

.datatable-filter-demo .p-datepicker {
    min-width: 25rem;
}

.datatable-filter-demo .p-datepicker td {
    font-weight: 400;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: center;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
}

.datatable-filter-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable-filter-demo .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 960px) {
    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--layer-2);
    }

    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none !important;
        width: 100% !important;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4rem 1rem -.4rem -.4rem;
        font-weight: bold;
    }

    .datatable-filter-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
        margin-top: .5rem;
    }
}