.order-form {
	width: 70%;
	max-width: 700px;
	min-width: 310px;
	padding: 10px 30px 20px 30px;
	margin: 0 auto;
	background-color: #ffffff;
	margin-top: 100px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 10px 5px #00000052;
	border-radius: 1px;
	border: 1px solid rgba(255, 255, 255, 0.822);
	overflow-y: scroll;
}
.order-form {
	background-color: #202020;
}
.Information {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	font-family: Arial;
	font-size: 0.9rem;
	text-align: center;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.95);
	overflow-y: scroll;
	.Information-buttons {
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding-bottom: 20px;
		width: 100%;
		display: flex;
		flex-direction: row;
		.Information-next {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.Pay-methods {
				background-color: #9e9e9e;
				border-radius: 20px;
				padding:40px;
				width: 100%;
				display: flex;
				align-items:flex-start;
				justify-content: space-between;
				@media only screen and(max-width: 630px) {
					flex-direction: column;
					.stripe {
						margin-top: 20px;
					}
				}
			}
			.mercadolibreee {
				background-color: rgb(255, 252, 72);
				color: rgb(168, 168, 168);
				border: none;
				border-radius: 5px;
			}
		}
	}

	.mercadolibreee {
		background: #009ee3;
		border-color: #009ee3;
		color: #fff;
		border-radius: 5px;
	}

	.stripe {
		background: #556cd6;
		border: none;
		width: 200px;
		color: #fff;
		border-radius: 5px;
		padding: 15px;
		cursor: pointer;
	}

	.Information-sidebar {
		margin: 20px 0 0 0;
		color: #aaabad;
		h2 {
			color: #6b7685;
		}
		h3 {
			color: #fafafa;
			span {
				color: #fff099;
			}
		}
	}

	.Information-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		border: none;
		outline: none;
	}
	.Information-item .fas {
		margin: 0 0 0 10px;
		color: rgba(0, 0, 0, 0.4);
		cursor: pointer;
	}

	.Information-element {
		display: flex;
		margin: 10px 0;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid #2fbe82;
	}
	.Information-element h4 {
		margin: 0;
	}

	.Information-buttons {
		margin: 10px 0 0;
		display: ruby;
	}
	.Info-Back__container {
		margin: 5px 0px 40px 0px;
		Link {
			width: 50px;
			margin: 0px;
			padding: 0px;
			box-sizing: content-box;
		}
		.Information-Back {
			padding: 0 3px;
			margin: 0;
			font-weight: 500;
			text-transform: uppercase;
			color: #2fbe82;
			border-bottom: 3px solid #ddd;
			&:hover {
				border-bottom: 3px solid #3adbc0;
			}
		}
	}

	.Information-form {
		width: 95%;
		display: flex;
		text-align: center;
		flex-direction: column;
		// border: 1px solid rgb(123, 255, 0);
		justify-content: center;
		.name-email__container {
			width: 50%;
			display: flex;
			text-align: center;
			flex-direction: column;
			// background-color: #aaabad;

			// border: 1px solid rgb(255, 0, 0);
			.order_Inputs{
				margin-bottom: 17px;
			}
			span {
				min-width: 50px;
				font-weight:bold;
				margin-right: 5px;

			}
			
			input {
				min-width: 200px;
				border: none;
				background-color: transparent;
				outline: none;
				color: #32d58e;
				font-size: 15px;
			}
			.name__container {
				display: flex;
				flex-direction: row;
				width: 50%;
				// background-color: #aaabad;
				// border: 1px solid black;
				min-width: 150px;
			}
			.email__container {
				min-width: 150px;
				display: flex;
				flex-direction: row;
				width: 50%;
				// border: 1px solid black;
			}
		}
	}

	.User-Name {
		font-size: 20px;
		font-family: "Helvetica";
		color: #b7bcbd;
	}
}

.contactInfoButton {
	border-radius: 20px;
	color: #19f9a4;
	background: #202020;
	width: 80px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
}

.contactInfoForm {
	display: flex;
	justify-content: center;
	align-items: center;
}

.insertValidData {
	margin: 0 auto;
	font-size: 16px;
	background: silver;
	padding: 9px 20px;
	border-radius: 28px;
	color: rgb(245, 245, 245);
	font-weight: 550;
}

.cartSteps {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 50px 0px 20px 0px;
	font-size: 16px;
}

.Information-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fafafa;
}

.checkPaymentHide {
	display: none;
}

.checkContactInfoHide {
	display: none;
}

.checkContactInfo{
	color: #23be98;
	font-weight: bold;
	font-size: 20px;
	
}

.spanPayment {
	padding-top: 4px;
	color: #f6faf9;
}
.spanPaymentGrey {
	// padding-top: 4px;
	color: #b1b1b1;
}

.checkCompletedHide {
	display: none;
}
