.mainDivAP {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    color: #252525;
       
    .formAP {
    margin: 5px;
    width: 85%;
    }
        
}
.divAP{
    width: 50%;
}
.EditOrAdd {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.inputprod {
	border-radius: 4px;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    height: 32px;
    width: 100%;
    display: flex;
}
.selector{
    display: flex;
    border-radius: 5px;
    height: 30px;
}
.compProd{
    width: 100%;
}
.imgfile{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 50%;
}
.image{
    width: 240px;
    margin-top: 5px;
}
.progress{
    margin-top: 14px;
    width: 80%;
}
.catego{
    background-color: #b3e5fc;
    height: 20px;
    border-radius: 2px;
    margin-right: 10px;
    width: 110px;
    padding: 0px 0px 0px 5px;
    margin-top: 5px;
    display: inline-block;
    border: 0.5px solid #5350b8;
}