* {
    outline: none;
}
select {
    &:hover {
        color: #1ed38d;
        cursor: pointer;
    }
}
.hidden {
    display: none;
}
.mainDivAP {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #252525;
    @media only screen and(min-width: 1200px) {
        justify-content: fit-content;
        align-items: flex-start;
        flex-direction: row;
        .imgfile {
            max-width: 600px;
            .image {
                margin-left: 10px;
                max-width: 100%;
            }
        }
    }

    .filProductByAuthor {
        // margin: 15px 0px;
        background-color: #6c6c6c;
        border-radius: 5px;
        margin: 10px auto;
        width: 100%;
        padding: 8px;
        .manageDiscounts {
            margin: 10px 0;
            height: 20px;
            span {
                font-size: 16px;
                color: #4de09b;
            }
            .Discounts {
                margin: 0 10px;
                padding: 5px;
                width: 40px;
                border-radius: 5px;
                border: 1px solid rgb(216, 215, 215);
                background-color: #272727;
                color: rgb(255, 227, 71);
                box-shadow: 0 1px 1px 1px rgb(58, 57, 57);
                font-weight: 100;
                cursor: pointer;
            }
        }
    }

    .formAP {
        margin: 5px;
        width: 85%;
    }
}
.divAP {
    width: 100%;
    background-color: #6c6c6c;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(224, 223, 223);
    padding: 8px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #1ed38d;
        margin-left: 4px;
    }

    .formAP {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media only screen and(min-width: 600px) {
            flex-direction: row;
            max-width: 650px;
        }
        .left {
            margin-right: 10px;
            .SelectorFile {
                cursor: pointer;
                background-color: transparent;
                color: rgb(251, 253, 140);
            }
            div {
                margin-bottom: 10px;
            }
        }
        .rigth {
            margin-right: 10px;
            .catego {
                transition: 100ms;
                display: inline-flex;
                margin: 10px 15px 0 0;
                color: #3c3c3c;
                &:hover {
                    // transform: scale(1.1);
                    cursor: pointer;
                    background-color: rgb(146, 53, 53);
                    box-shadow: #512222 0 1px 1px 2px;
                    color: transparent;
                    justify-content: center;
                    &::before {
                        position: absolute;
                        color: #fafafa;
                        font-size: 10px;
                        content: "DELETE";
                        font-weight: 900;
                        z-index: 1;
                    }
                }
            }
            div {
                margin-bottom: 10px;
            }

            .inputprod {
                width: 100%;
                margin-right: 10px;
                min-width: 250px;
                background-color: #3c3c3c;
                border: none;
                color: rgb(196, 196, 196);
                padding: 0px 5px;
                &:hover {
                    cursor: pointer;
                }
            }
            .textareaprod {
                background-color: #3c3c3c;
                border: none;
                border-radius: 3px;
                width: 100%;
                height: 100px;
                font-family: "Roboto", sans-serif;
                color: rgb(233, 228, 192);
                padding: 5px;
                text-align: justify;
            }
        }
    }
}
.EditOrAdd {
    margin-top: 18px;
    margin-right: 10px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #272727;
    color: rgb(255, 246, 167);
    box-shadow: 0 0px 1px 1px #fafafa;
    font-weight: 900;
    cursor: pointer;
    &:hover {
        color: #1ed38d;
        box-shadow: 0 1px 5px 1px #1ed38d;
    }
}
.inputprod {
    background-color: #3c3c3c;
    border: none;
    color: rgb(196, 196, 196);
    padding: 0px 5px;
    height: 32px;
    width: 100%;
    display: flex;
    border-radius: 3px;
}
.contentStock {
    display: flex;
}
.inputStock {
    margin-right: 5px;
    width: 100%;
}

.inputStock:last-child {
    margin-right: 0;
}
.selector {
    width: 100%;
    max-width: 350px;
    display: flex;
    border-radius: 5px;
    height: 30px;
    background-color: #3c3c3c;
    border: none;
    color: rgb(196, 196, 196);
    padding: 0px 5px;
}
.compProd {
    margin-top: 20px;
    width: 100%;
    li {
        color: antiquewhite;
        margin-bottom: 10px;
    }
    .divEP {
        margin-top: 20px;
        .EditAndDelete {
            margin-top: 20px;
            margin-right: 10px;
            width: 90px;
            height: 30px;
            border-radius: 5px;
            border: none;
            background-color: #272727;
            color: #fff6a7;
            box-shadow: 0 0px 1px 1px #fafafa;
            font-weight: 900;
            cursor: pointer;
        }
    }
}
.imgfile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 620px;
    @media only screen and(max-width: 1200px) {
        height: fit-content;
    }
    input {
        border: none;
        border-radius: 5px;
        min-width: 40%;
        padding: 10px;
        margin: 15px;
        text-transform: uppercase;
        background-color: rgb(52, 52, 52);
        box-shadow: #191919 0 3px 5px 2px;
        font-size: 16px;
        color: #fafafa;
        transition: 200ms;
        &:hover {
            cursor: pointer;
            box-shadow: 0 2px 10px 0px #14a16b;
            transform: scale(1.03);
        }
    }
}
.image {
    max-height: 550px;
    max-width: 100%;
    margin-top: 5px;
}
.progress {
    margin-top: 14px;
    width: 100%;
}
.catego {
    margin: 5px 0px;
    width: max-content;
    height: 30px;
    background-color: #1ed38d;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #295030 0 0px 1px 1px;
}
.editOrAdd-container {
    display: flex;
    justify-content: center;
}
