.mainDivAP {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    color: rgb(37, 37, 37);
    .divAP{
        .formAP {
    margin: 1%;

            .EditOrAdd {
            
                margin-top: 15px;
                width: 60px;
                padding: 0px;
            }
        }
    }

}


