.wrapper {
  padding: 5rem 20%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  display: block;
  margin: auto;
  font-size: 10rem;
  color: #00ffa2;
}

p {
  height: 6rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 200;
  background: #00ffa2;
  color: #004466;
}
