.contentDetail {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.products {
    background-color: #67fcb7;
    margin: 15px;
    border-radius: 10px;
}
.TOTAL {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 15px;
    background-color: #6ff1f18f;
    border-radius: 0 0 5px 5px;
    border: 2px solid #ffffff91;
    margin-top: 7px;
}
.conteinOrders {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    align-items: stretch;
    background-color: #ffffffa6;
    border-radius: 5px 5px 0 0;
}
.open{
    color: rgb(16, 135, 16);
}
.cancelled{
    color: rgb(165, 12, 12);
}
.loading{
    color: rgb(213, 80, 18);
}
.completed{
    color: rgb(12, 17, 165);
}
.p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

.datatable .p-paginator .p-paginator-current {
    margin-left: auto;
}

.datatable .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;
}
.p-datatable-wrapper {
    padding: 16px;
}
.datatable .p-progressbar .p-progressbar-value {
    background-color: #607D8B;
}

.datatable .table-header {
    display: flex;
    justify-content: space-between;
}

.datatable .p-datepicker {
    min-width: 25rem;
}

.datatable .p-datepicker td {
    font-weight: 400;
}

.datatable .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.datatable .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.datatable .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: left;
}

.datatable .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
}

.datatable .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 960px) {
    .datatable .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
    .datatable .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--layer-2);
    }

    .datatable .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none !important;
        width: 100% !important;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4rem 1rem -.4rem -.4rem;
        font-weight: bold;
    }

    .datatable .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
        margin-top: .5rem;
    }
}

@media screen and (max-width: 40em) {
    .p-datatable {
        &.p-datatable-responsive-demo {
            .p-datatable-thead > tr > th,
            .p-datatable-tfoot > tr > td {
                display: none !important;
            }

            .p-datatable-tbody > tr > td {
                text-align: left;
                display: block;
                border: 0 none !important;
                width: 100% !important;
                float: left;
                clear: left;

                .p-column-title {
                    padding: .4rem;
                    min-width: 30%;
                    display: inline-block;
                    margin: -.4em 1em -.4em -.4rem;
                    font-weight: bold;
                }
            }
        }
    }
}