.filterProductsByAuhorTitle {
  margin-bottom: 10px;
  line-height: 20px;
  color: #f4f3aa;
  h3 {
    color: #1ed38d;
    font-size: 19px;
    margin-bottom: 5px;
  }
}

.authorSelect .authorSelector {
  width: 100%;
  min-width: 250px;
  max-width: 500px;
  background-color: #3c3c3c;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: 500;
  &:hover {
    color: #1ed38d;
  }
}

.authorsProduct {
  ul {
    // position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    border: #afaeae 2px solid;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #3c3c3c;
    li {
      margin: 5px;
      list-style: none;
      width: max-content;
      height: 30px;
      background-color: #1ed38d;
      border-radius: 2px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: #3c3c3c;
      }
    }
  }
}
