.navbarm {
    background-color: #1b1b1b;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bars {
    margin-left: 0.5rem;
    font-size: 2rem;
    background: none;
    margin-top: 5px;
}

.profile-img {
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    background-image: url("https://i.pinimg.com/474x/35/d2/3b/35d23b42c648c3eadedbaf949cfacced.jpg");
}
.navmenu {
    background-image: linear-gradient(
            216deg,
            rgba(77, 77, 77, 0.05) 0%,
            rgba(77, 77, 77, 0.05) 25%,
            rgba(42, 42, 42, 0.05) 25%,
            rgba(42, 42, 42, 0.05) 38%,
            rgba(223, 223, 223, 0.05) 38%,
            rgba(223, 223, 223, 0.05) 75%,
            rgba(36, 36, 36, 0.05) 75%,
            rgba(36, 36, 36, 0.05) 100%
        ),
        linear-gradient(
            44deg,
            rgba(128, 128, 128, 0.05) 0%,
            rgba(128, 128, 128, 0.05) 34%,
            rgba(212, 212, 212, 0.05) 34%,
            rgba(212, 212, 212, 0.05) 57%,
            rgba(25, 25, 25, 0.05) 57%,
            rgba(25, 25, 25, 0.05) 89%,
            rgba(135, 135, 135, 0.05) 89%,
            rgba(135, 135, 135, 0.05) 100%
        ),
        linear-gradient(
            241deg,
            rgba(55, 55, 55, 0.05) 0%,
            rgba(55, 55, 55, 0.05) 14%,
            rgba(209, 209, 209, 0.05) 14%,
            rgba(209, 209, 209, 0.05) 60%,
            rgba(245, 245, 245, 0.05) 60%,
            rgba(245, 245, 245, 0.05) 69%,
            rgba(164, 164, 164, 0.05) 69%,
            rgba(164, 164, 164, 0.05) 100%
        ),
        linear-gradient(
            249deg,
            rgba(248, 248, 248, 0.05) 0%,
            rgba(248, 248, 248, 0.05) 32%,
            rgba(148, 148, 148, 0.05) 32%,
            rgba(148, 148, 148, 0.05) 35%,
            rgba(202, 202, 202, 0.05) 35%,
            rgba(202, 202, 202, 0.05) 51%,
            rgba(181, 181, 181, 0.05) 51%,
            rgba(181, 181, 181, 0.05) 100%
        ),
        linear-gradient(92deg, hsl(214, 0%, 11%), hsl(214, 0%, 11%));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.877);
    width: 180px;
    height: 100vh;
    padding: 100px 0 0 0;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 450ms;
    z-index: 9;
    @media only screen and(max-width: 560px) {
        max-width: 180px;
    }
}

.navmenu.active {
    height: 100%;
    left: 0;
    transition: 250ms;
    span {
        animation: appear;
        animation-duration: 1.8s;
        transition: 1s;
    }
}

.navmenu.mini {
    height: 100%;
    left: 0;
    transition: 250ms;
    width: 69px;

    span {
        transition: 450ms;
        display: none;
    }
}

.max-min {
    padding-top: 1rem;
    font-size: 2.1rem;
    background: none;
    z-index: 999;
    transition: 550ms;
    position: absolute;
    left: 69px;
    top: 500px;
}

.max-min.active {
    padding-top: 1rem;
    font-size: 2.1rem;
    background: none;
    z-index: 999;
    transition: 550ms;
    position: absolute;
    left: 17px;
    top: 500px;
}
.navm-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 60px;
    transition: 150ms;
    &:hover {
        background-color: #24262c;
    }
    a {
        padding-left: 25px;
        text-decoration: none;
        color: #f5f5f5;
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        &:hover {
            border-bottom: 3px solid #19f9a4;
        }
    }
    span {
        margin-left: 25px;
    }
}

.navmenu-items {
    width: 100%;
    button {
        width: 100px;
        margin-left: 35px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #00000071;
        border-radius: 2px;
        color: #ddd;
        background-color: #24262c;
        box-shadow: 0px 1px 2px 2px #00000071;
        cursor: pointer;
        font-weight: 600;
        transition: 150ms;
        &:hover {
            box-shadow: 0px 0px 5px 1px #19f9a4;
            color: #19f9a4;
            transform: scale(1.1);
        }
    }
}

.navmenu-items {
    width: 100%;
    .sign--off {
        width: 39px;
        margin-left: 15px;
        padding: 10px;
        cursor: pointer;
        transition: 550ms;
    }
}
.signLateral {
    margin: 4px 0;
    transition: 550ms;
    position: relative;
    left: -25px;
    max-width: 50px;
    height: 50px;
}

.navbarm-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: -70%;
}

@keyframes appear {
    0% {
        opacity: 0;
        display: none;
    }
    25% {
        opacity: 0;
        display: none;
    }
    50% {
        opacity: 0.5;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
