.ModifyProduct{
    display: flex;
    margin: 5px;
    height: 100vh;

    .FilterAndProducts{
        margin-top: 20px;
        .productContainer{
            display:block;
            margin:5px;
            
            ul{ 
                *{ 
                    color: black;
                    text-decoration: none;
                    margin:0;
                    padding: 0;
                }  
                li{
                    
                    list-style:none;
                    width: 100%;
                    border: 1px solid black;
                }         
            }
        }  
    }
}
.productCategories{
    text-align: center;
}