.ModifyProduct{
    display: flex;
    margin: 5px;
    height: 100vh;

    .FilterAndProducts{
        margin-top: 20px;
        .productContainer{
            display:block;
            margin:10px;
            background-color: aliceblue;
            
            ul{ 
                border: 1px solid black;
                border-radius: 4px;
                padding: 2px;
                padding: 10px;
                *{ 
                    color: black;
                    text-decoration: none;

                    padding: 0;
                    
                }  
                li{
                    padding: 2px;
                    h3{
                        padding: 3px;
                        font-size: 17px;
                    }
                    h4{
                        padding-left: 15px;
                        font-size: 15px;
                    }
                    p{
                        padding: 2px;
                    }
                    
                    list-style:none;
                    width: 100%;
                    
                }         
            }
        }  
    }
}
.productCategories{
    text-align: center;
}
