.orderdetail-container {
    background-color: rgba(1, 1, 1, 0.8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: grow;
  animation-duration: 0.3s;

    .modal {
        width: 800px;
        background-color: white;
        padding: 15px;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.075);
        box-shadow: 0px 5px 10px 5px #00000010;        
    }
}

.generalinfo {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;

    .timeIcon {
        color: #19f9a4;
        font-size: 30px;
        margin: 0px 10px;
    }
}

.modalFooter {
    margin: 15px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;

.totalprice {
    text-align: right;
    margin-left: 20px;
}
}

.closeWindow a{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #1b1b1b;
    transition: 350ms;
    
}

.closeWindow a:hover{
    color: #19f9a4;
}

@keyframes grow {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }