.pagination {
  width: auto;
  text-align: center;
  margin: 2rem auto;
  & > li {
    display: inline-block;
    margin: 0 1rem;
    & > a {
      display: inline-block;
      padding: 0.7rem 1rem;
      text-decoration: none;
      border-radius: 20px;
      &:hover {
        background: #ddd;
      }
    }
  }
}
.page-item-select {
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  background: rgb(207, 207, 207); 
}

.pageButton{
  border-radius: 20px;
  font-size: 0.8rem;
  border: none;
  background: rgb(228, 228, 228);
  color: rgb(68, 68, 68);
  font-weight: 700;
  &:focus {
    outline: none;
  }
 }
