.pagination {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  margin: 1.5rem auto;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 0.3rem 0.2rem;
      text-decoration: none;
      background-color: #24262c;
      color: #fafafa;
      font-size: 14px;
      &:hover {
        color: #19f9a4;
      }
    }
  }
}
.page-item-select {
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0px 0px 0px 1px #19f9a4, 0px 5px 28px 1px #000000d7;
  margin: 5px;
  transform: scale(1.1);
  background-color: #24262c;
  .page-link {
    font-size: 17px;
    font-weight: 900;
    color: #19f9a4;
  }
}

.pageButton {
  transition: 250ms;
  border-radius: 0px;
  font-size: 1rem;
  border: none;
  font-weight: 900;
  color: #fafafa;
  background-color: #24262c;
  padding: 3px 5px;
  margin: 0 3px;
  text-align: center;
  box-shadow: 0px 0px 1px 1px #00ff9d, 0px 4px 5px 1px #242424;
  z-index: 999;
  &:hover {
    color: #19f9a4;
    outline: none;
    cursor: pointer;
    transform: scale(1.2);
  }
}
