.pagination {
  border-radius: 3px;
  width: 100%;
  min-width: 300px;
  text-align: center;
  margin: 1.5rem auto;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 0.3rem 0.4rem;
      text-decoration: none;
      color: #fafafa;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        color: #19f9a4;
      }
    }
  }
}
.page-item-select {
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px #19f9a4;
  margin: 5px;
  transform: scale(1.1);
  background-color: #24262c;
  .page-link {
    background-color: rgb(71, 71, 71);
    font-weight: 900;
    color: #19f9a4;
  }
}

.pageButton {
  transition: 250ms;
  font-size: 1rem;
  font-weight: 900;
  color: #fafafa;
  background-color: #515253;
  padding: 3px 10px;
  margin: 0 10px;
  text-align: center;
  border: none;
  border-radius: 50%;
  z-index: 999;
  border: 3px solid #19f9a4;
  &:hover {
    color: #19f9a4;
    outline: none;
    cursor: pointer;
    transform: scale(1.2);
  }
}
