.big-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: grow;
    animation-duration: 0.5s;
    background-color: #151515;
    // background-image: radial-gradient(circle at center center, rgba(33, 33, 33, 0), #212121),
    //     repeating-linear-gradient(135deg, #212121 0px, #212121 1px, transparent 1px, transparent 4px),
    //     repeating-linear-gradient(45deg, #383838 0px, #383838 5px, transparent 5px, transparent 6px),
    //     linear-gradient(90deg, #212121, #212121);
    // overflow-x: hidden;
    @media only screen and(max-width: 1000px) {
        min-width: 320px;
    }
    .product-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        width: 100vw;
        max-width: 1350px;
        // border: 3px solid #2d2e2e;

        @media only screen and(max-width: 1000px) {
            left: 0;
            flex-direction: column;
            padding-top: 50px;
        }
        .preview {
            margin: 0 auto;
            display: flex;
            width: 100%;
            max-width: 90%;
            min-width: 400px;
            height: auto;
            object-fit: contain;
            border-radius: 1px;
            @media only screen and(max-width: 1000px) {
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                min-width: 320px;
            }
        }

        .detailProd {
            font-family: "Montserrat";
            padding: 25px;
            width: 600px;
            display: flex;
            flex-direction: column;
            height: 100%;
            color: #19f9a4;
            background-color: #151515;
            align-content: center;
            border-left: 3px solid #2d2e2e;
            // box-shadow: 0px 1px 15px 1px #2d2e2e;
            @media only screen and(max-width: 1000px) {
                min-height: 600px;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-width: 320px;
                border: 1px solid #2d2e2e;
            }
            .contDet {
                font-family: "Montserrat";
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                // border-bottom: 2px solid #19f9a4;
                .titulo {
                    font-family: "Montserrat";
                    font-size: 24px;
                }
                @media only screen and(max-width: 1000px) {
                    width: 100%;
                }
            }
            .headerDet {
                width: 100%;
                .linkClose {
                    margin: 0px;
                    float: right;
                    // border-radius: 9px 11px 0 0px;

                    .link {
                        font-size: 38px;
                        padding: 0px;
                        list-style: none;
                        text-decoration: none;
                        border-radius: 0 9px;
                        border: 1px solid #262727;
                        background-color: #2d2e2e;
                        color: #1cd08b;
                        display: flex;
                        justify-content: center;
                        width: 32px;
                        transition: 400ms;
                        &:hover {
                            color: #b5b8b7;
                            box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
                        }
                    }
                }
                .score {
                    display: flex;
                    font-size: 20px;
                    padding: 10px 0px 10px 10px;
                    color: rgb(197, 197, 197);
                    float: left;
                }
            }
        }
    }
}

.spanScore {
    display: flex;
    align-items: center;
    white-space: pre;
}

.product-preview {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    // border-right: 1px solid #19f9a4;
    max-width: 90%;
    max-height: 600px;
    // overflow: scroll;
    justify-content: center;

    // object-fit: cover;
}

.reviewNumber {
    font-size: 18px;
    padding-bottom: 2px;
}

// .titulo {
//     width: 100%;
//     background-color: #d8dad9;
//     align-self: left;
//     color: #19f9a4;
//     border-radius: 0px;
// }

.det {
    // font-family: "Roboto";
    font-family: "Montserrat";
    color: #b5b8b7;
    border-radius: 2px;
    justify-content: center;
    height: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    // background-color: #2627277e;
    border-top: 2px solid #2d2e2e;
    // border-bottom: 1px double #2d2e2e;
    // border-radius: 10px 10px 9px 19px;
    // border-radius: 2px 2px 0px 0px;
    // box-shadow: 0 3px 5px 2px #626363f3;
    h3 {
        text-transform: uppercase;
        color: #19f9a369;
        padding-bottom: 3px;
    }
    span {
        color: #fafafa;
    }
}

.desc {
    width: 100%;
    margin-top: 0px;
    font-weight: 600;
    height: auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    width: 90%;
}
.description {
    font-size: 13px !important;
    margin-left: 10px;
    margin-right: 10px;
}
.titulo {
    color: #19f9a3;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    font-family: sans-serif;
    height: 60px;
    align-items: center;
    background-color: rgba(131, 131, 131, 0);
    // border-bottom: 2px solid #19f9a4;s
    margin-bottom: 20px;
}
.wish_productDetail { 
    margin-left: 15%;
    position: absolute;
    margin-top: 0px;
    font-size: 40px;
}
.contecarrito {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 10px;
    justify-content: center;

    .btncarrito {
        width: 100%;
        display: flex;
        cursor: pointer;
        justify-content: center;
        button {
            border-radius: 27px;
            margin: 5px;
            width: 40%;
        }
    }
}

.dispre {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    color: rgb(211, 211, 211);
    width: 100%;
    .det {
        color: #fffdffdc;
        // font-family: "Montserrat";
        padding-top: 20px;
        margin: 0 5px;
        font-size: 15px;
        // border-top: 5px solid #19f9a377;
        // border-bottom: 5px solid #19f9a377;
        // box-shadow: 0 5px 10px 0px #19f9a33a;
        h3 {
            font-weight: 400;
            width: 100%;
            color: #19f9a4;
        }
    }
}
.btn {
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-Det {
    font-size: 20px;
    cursor: pointer;
    padding: 0px;
    border: none;
    box-shadow: 0px 0px 0px 3px #19f9a4;
}
.espV {
    color: #c1c5c4;
    background-color: #141515af;
    transition: 350ms;
    &:hover {
        color: #19f9a4;
        background-color: #17171a;
    }
}
.espR {
    color: #9b9b9b;
    background-color: #141515;
    transition: 350ms;
    &:hover {
        color: rgb(255, 104, 104);
        background-color: #141515;
    }
}

.divStars {
    padding-bottom: 7px;
}

.acquiedPD {
    color: rgb(250, 89, 89);
    background-color: rgb(31, 30, 30);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0px 0px 1px 2px #5e5d5d8f;
}

@keyframes grow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.stockProductDetail {
    color: #1cd08b;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    padding: 4px;
}

.stockNumberPD {
    font-weight: bold;
}

.limiteded {
    color: rgb(205, 68, 50);
}
