.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(175, 175, 175);
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #13ae73;

        h1 {
            margin: 0px;
            font-size: 50px;
        }
        h2 {
            margin-left: 5px;
            color: rgb(113, 121, 124);
        }
    }
}

.user-info {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;

    .imagecover {
        background-image: url("https://joomly.net/frontend/web/images/googlemap/map.png");
        background-size: cover;
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }

    .container-user-info {
        width: 60%;

        .data {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            margin-bottom: 20px;

            .inputs-profile {
                background-color: #19f9a4;
                display: flex;
                align-items: center;
                width: 100px;
                height: 35px;
                margin-right: 10px;
                justify-content: center;
                font-size: smaller;
                font-weight: bolder;
                color: #1b1b1b;
            }
            .ipro {
                width: 300px;
            }
        }
    }
}

.btn-inactive {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px 2px #00000071;
    background-color: #24262c;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    width: 50px;
    transition: 250ms;
    cursor: pointer;
    border: none;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-active {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 2px #19f9a4;
    background-color: #24262c;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    width: 50px;
    transition: 250ms;
    cursor: pointer;
    border: none;
}

.btn-active:hover  {
    color: #19f9a4;
}


.profile-pic-div{
    height: 100px;
    width: 100px;
    position: absolute;
    top: -10px;
    right:20px;
    border-radius: 50%;
    overflow: hidden;
  
}
#photo{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    :hover{
        opacity: 1;
    }
    
}