.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  background: linear-gradient(356deg, #fffeff, #ffffff);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.137);
  h4 {
    color: rgba(0, 0, 0, 0.719);
    margin-left: 5px;
    font-size: 18px;
    margin-top: 1px;
  }
  h6 {
    color: rgba(0, 0, 0, 0.493);
    margin-left: 5px;
    font-size: 13px;
    margin-bottom: 2px;
    margin-top: 1px;
  }
  img {
    width: 300px;
    height: 195px;
    object-fit: cover;
    transition: transform 0.5s;
  }
  &:hover {    
    transition: transform 0.5s;
    transform: scale(1.1);
    box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.185);
    .shopping {
      display: flex;
      position: absolute;
      text-shadow: 0px 0px 1px white;
      bottom: 10px;
      right: 5px;
      z-index: 1;
      background-color: #fafafa;
      width: 90px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.151);
      height: 40px;
      align-items: center;
      justify-content: center;
      border-radius: 3px 3px 3px 3px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-duration: 1s;
      animation-name: dario;
      padding: 0;
      cursor: pointer;
      @keyframes dario {
        from {
          // width: 80px;
          height: 20px;
          opacity: 0;
        }
        to {
          // width: 90px;
          height: 40px;
          opacity: 1;
        }
      }
    }
  }
}
a.link {
  text-decoration: none;
}

.add {
  font-size: 30px;
  color: #a99cbf;
}
.remove {
  font-size: 30px;
  color: #291e3d;
}
.conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.autorname {
  display: flex;
}
.shopping {
  display: none;
}
.fa-cart-plus {
  font-size: 20px;
  color: green;
}
.fa-cart-arrow-down {
  font-size: 20px;
  color: red;
}
.price {
  display: flex;
  margin: 5px 5px 0px 0px;
  font-size: 15px;
  color: gray;
}

.scoreCard {
  z-index: 0;
  display: flex;
  position: absolute;
  margin-left: 5px;
  margin-top: -27px;
  color: #f7f7f7;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: 1px 0 0 #424242, -1px 0 0 #424242, 0 1px 0 #424242, 0 -1px 0 #424242, 1px 1px #424242,
    -1px -1px 0 #424242, 1px -1px 0 #424242, -1px 1px 0 #424242;
  align-items: baseline;
}

.acquiredPC {
  font-size: 10px;
}

.stockProductCard {
  color: darkcyan;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding-left: 5px;
}

.stockNumberPC {
  font-weight: bold;
}

.contenInfo {
  padding: 1px;
  padding-bottom: 6px;
}

.wishlistHeartCard {
  position: absolute;
  margin-left: 271px;
  margin-top: -32px;
  font-size: 25px;
  color: #0bc970;
}

.strikethrough{
  text-decoration: line-through;
  color: red;
  font-size: 11px;
  margin: 0;
  padding: 0px;
}

.divDiscountProd-wrap{

  filter: drop-shadow(-1px 2px 4px rgb(34, 34, 34));

  .divDiscountProd{
  
    z-index: 0;
    display: flex;
    width: 67px;
    position: absolute;
    margin-left: 234px;
    margin-top: -200px;
    justify-content: center;
    padding: 0px 2px 6px 2px;
    background-color: #eb0029;
  
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    
    .percentDiscountProd{
     
      font-size: 25px;
      color: #fafafa;
      font-weight: 500;
    }
  }
}

