.review-cont {
    display: flex; 
    // margin-left: 20%;   
    // margin-top: 50px;
    margin: 20px 5px 15px 35px;
    // width: 400px;
    color: #151515;
    .reviewTitle {
        width: 100%;
        font-size: 35px;
        font-weight: bold;
        padding: 10px 0px 10px 10px;
    }
}


.reviewComment {
    display: flex;
    font-size: 18px;
    padding-bottom: 10px;
}

.scoreDet{
    font-weight: 600;
    margin:10px 5px 0px 10px !important;
    .color-star{
        color: #cacc5f;
        font-size: 20px;
        
    } 
}

.nameAndComment {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.309);
    font-weight: 800;
    margin: 3px 0px 10px 0px !important;
    p{
        height: auto;
        width: 450px;
        word-wrap: break-word;
        font-weight: 400; 
        padding-top: 5px; 
    } 
}

.add-review {
    font-size: 35px;
    font-weight: bold;
    padding: 5px 25px 5px 25px;
    margin: 0;
    color: #151515;
    
    .contFormReview{
        margin: 5px 0px 0px 15px;

        .divAddReview{
            margin-top: 10px;
        }
        #reviewScoreSelector{
            padding: 3px;
            border-radius: 7px;
        }
        .spanAddReview{
            font-weight: 600;

        }
        .inputReviewComment{
            padding: 5px;
            border-radius: 10px;
        }
        .inputSubmit{
            background-color: #202020;
            color: rgb(91, 201, 159);
        }
    }
}

.reviewForm {
    margin: 0;
}

.noReviewsYet {
    font-size: 18px;
    white-space: pre;
    margin: 0;
    margin-right: 450px;
}

.inputReviewComment {
    font-family: "Roboto";
    font-size: 15px;
    width: 300px;
    height: 100px;
    margin:0;
}

.divReviewButton {
    align-content: end;
    margin-left: 16px;
    width: 100px;
}

.spanAddReview {
    font-size: 18px;
    font-weight: normal;
    padding-right: 10px;
    align-content: flex-start;
}

.divAddReview {
    display: flex;
    align-content: flex-start;
}

.inputSubmit {
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    background: rgb(228, 228, 228);
    color: rgb(68, 68, 68);
    font-weight: 600;
    &:focus {
      outline: none;
    }
}

.selectScore {
    color: red;
    font-size: 15px;
}

.selectScoreHide {
    display:none
}

.reviewButton {
    height: auto;
    width: auto;
    padding: 3px 9px;
    font-size: 12px;
    margin: 2px;
    border-radius: 5px;
    background-color: #202020;
    color: rgb(91, 201, 159);

}

.reviewButtonHide {
    display: none;
}

.selectScore {
    color: red;
    font-size: 15px;
}

.selectScoreHide {
    display:none
}

.reviewButton {
    height: auto;
    width: auto;
    padding: 3px 9px;
    font-size: 10px;
    margin: 2px;
}

.reviewButtonHide {
    display: none;
}
