.orders-body {
    // display: flex;
    margin: 20px;
    .box1 {
        width: 70%;
        margin: 10px;
        background-color: #1b1b1b;
        .everyOrders1 {
            margin: 10px;
            padding: 10px;
            .listOrders1 {
                margin: 10px;
                .dateOrders1 {
                    padding: 5px;
                    border-radius: 10px;
                    .products1 {
                        box-shadow: 0px 4px 4px rgb(99, 99, 99);
                        border: 3px solid #19f9a4;
                        border-radius: 10px;
                        background-color: #19f9a4;
                        .order1 {
                            // display: inline;
                            .orderID1 {
                                display: inline-flex;
                                padding: 0px 30px 0px 0px;
                                font-size: 16px;
                                .open {
                                    color: rgb(11, 135, 36);
                                }
                                .cancelled {
                                    color: rgb(201, 30, 30);
                                }
                                .loading {
                                    color: rgb(230, 150, 13);
                                }
                                .completed {
                                    color: rgb(30, 36, 210);
                                }
                            }
                        }
                        .TOTAL1 {
                            border-radius: 0 0 10px 10px;
                            background-color: #19f9a4;
                            .totalPrice1 {
                                text-align: right;
                                padding: 10px;
                                margin-right: 150px;
                                font-size: 17px;
                            }
                        }
                        .oneProduct1 {
                            display: flex;
                            border: 0.2px solid rgb(230, 230, 230);
                            background-color: rgb(255, 255, 255);

                            .dateProducts1 {
                                margin: 10px 200px 10px 20px;

                                .Product1 {
                                    display: inline;
                                    width: 20px;

                                    .date1 {
                                        // display: inline-block;
                                        margin: 5px;
                                        padding: 5px;
                                        text-align: justify;
                                        font-size: 15px;
                                    }
                                }
                            }
                            .imageProduct1 {
                                margin: 5px;
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}
.container-inner {
    width: 580px;
    margin: 0 auto;
}
.tableheader {
    // text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    // border: 2px solid #19f9a4;
    border: 1px solid #030303;
    box-shadow: 0px 5px 15px 7px #386b58;
    color: #19f9a4;
    height: 40px;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
    font-weight: 100;
    // margin-bottom: 20px;
    .tableheader-date {
        position: relative;
        left: -10px;
    }
    .tableheader-tate {
        position: relative;
        left: -20px;
    }
    .tableheader-price {
        position: relative;
        left: -20px;
    }
    @media only screen and(max-width: 600px) {
        // padding: 10px 0px;
        // padding-right: 25px;
        .tableheader-date {
            position: relative;
            left: -20px;
        }
        .tableheader-tate {
            position: relative;
            left: -5px;
        }
        .tableheader-price {
            position: relative;
            left: 0px;
        }
    }
}
.profile-body {
    width: 530px;
    @media only screen and(max-width: 600px) {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.orderPreview {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #adadad;
    padding: 10px 10px;
    color: rgba(24, 24, 24, 0.616);
    @media only screen and(max-width: 600px) {
        font-size: 11px;
    }
    .option-price {
        width: 150px;
        text-align: right;
    }
    .option-state {
        width: 100px;
        text-align: left;
        margin-left: 70px;
        @media only screen and(max-width: 600px) {
            margin-left: 70px;
            margin-left: 30px;
            text-align: center;
        }
    }
    .seemore {
        position: relative;
        right: -5px;
        top: -3px;
    }
}

.description {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.seemore a {
    position: relative;
    font-size: 20px;
    color: #19f9a4;
}
.seemore {
    @media only screen and(max-width: 600px) {
        // text-align: center;
        padding-left: 5px;
    }
}
