.big-container {
    display: flex-end;
    justify-content: flex-end;
    padding: 0;
}

.myProductsImage {
    width: 30%;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
    box-shadow: 2px 3px 15px #2c2c2c;
}

.divImage {
    padding-left: 20px;
}