.slider{
  
   width: 100%;
   
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
}
.sliderHome{
    width: 100%;
   height: 100 vh;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   position: absolute;
   overflow: hidden;
}
.icono{
   font-size: 3vh;
}

.slide{
   min-width: 100%;
   height: 50vh;
   transition: 0.5s;
   overflow: hidden;
   position: relative;
   
   background-size: cover;
}
.slideHome{
   min-width: 100%;
   height: 95vh;
   transition: 1.8s;
   overflow: hidden;
   position: relative;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.slideHomeFondo{
   min-width: 100%;
   height: 100%;
   transition: 1.8s;
   overflow: hidden;
   position: relative;
   background-size:cover;
}
%btn-styles{
position: absolute;
   top: 60%;
   background: none;
   transform: translateY(-50%);
   width: 10%;
   height: 100%;
   border: none;
   outline: none;
   transition: 1.8s;
   &:hover{
      background: rgba(0, 0, 0, 0.33);
      box-shadow: 0px 0px 5px 1px #19f9a4;
      cursor: pointer;
      .icono{
         
         color: #19f9a4;
    transform: scale(1.1);
      }
   }
}
#toLeft{
   left: 0;
   @extend %btn-styles;
}
#toRight{
   right: 0;
   @extend %btn-styles
}

.add {
  font-size: 30px;
  color: #a99cbf;
  position:absolute;
  left: 41%;
  top:25%;
}
.remove{
  font-size: 30px;
  color: #a99cbf;
  position:absolute;
  left: 41%;
  top:25%;
}
.title-image{
   position: relative;
   left: 10%;
   top: 40%;
    @media only screen and(max-width: 840px) {
   display: none;
  }
}

.imgStyles{
   width: 100vh;
	position: relative;
	left: 26%
}
.imgStylesInCheckout{
   width: 100%;
	position: relative;
	
}
.description-slider{
   position: relative;
   top: 20%;
   
}
