.glass-background {
  width: 100%;
  height: 130px;
  position: sticky;
  top: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.897);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.Container-Filter {
  margin: 0 auto;
  top: 42px;
  position: absolute;
  display: flex;
  width: 95%;
  text-align: center;
  flex-direction: column;
  z-index: 1;
  padding: 0;
}
.filter {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 3px 2px 3px #0000003f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fafafa;
  border-radius: 0 5px 5px 5px;
  padding: 5px 5px;
}

.filter select {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 1%;
  height: 6%;
  width: 20%;
  min-width: 67px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #636060;
  &:hover {
    color: #1b1b1b;
    cursor: pointer;
  }
  @media only screen and(max-width: 560px) {
    font-size: 10px;
    font-weight: 900;
  }
}

.Option-button {
  border: none;
}

.fa-sort-alpha-down,
.fa-sort-alpha-up {
  background-color: transparent;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  padding: 5px;
  width: 70px;
  border: none;
  border-radius: 5px;
  height: 30px;

  &:hover {
    color: #19f9a4;
    cursor: pointer;
  }
}

.Button-Try-Again {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  height: 30px;
  padding: 4px;
  width: 110px;
  border: none;
  border-radius: 20px;
}
.Button-Try-Again:hover {
  border: solid 1px #b0bec5;
  background-color: #b0bec5;
  color: #ffffff;
}

.Boton-Reset {
  width: 48px;
  min-width: 45px;
  height: 35px;
  font-size: 0.7rem;
  border: none;
  background: #474747;
  color: #fff;
  font-weight: 800;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 2px 3px #0000003f;
  &:hover {
    background-color: #1b1b1b;
    color: #19f9a4;
  }
}
.fa-star {
  border: none;
  background: transparent;
  padding: 0px 1px;
  font-size: 17px;
  &:hover {
    color: rgb(247, 250, 66);
    text-shadow: 0 0 5px #1b1b1b;
  }
}
