primary = #384985

nav
  height 5rem
  width 100%
  padding 1rem 2rem
  display flex
  flex-flow row no-wrap
  justify-content space-between
  background #fafafa
  box-shadow 0 0 5px rgba(0, 0, 0, 0.2)

.nav-buttons_navigation li
  display inline-block
  height 3rem
  margin 0 0.2rem
  padding 1rem
  font-weight 500
  text-transform uppercase
  color #37474f
  border-bottom 3px solid #ddd
  &:hover
    border-bottom 3px solid primary

.nav-link
  text-decoration none
