@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
#root {
  height: 100%;
  font-size: 10pt;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #fff;
  font-family: "Roboto", sans-serif;
}

/* ------ */
/* Colors */
/* ------ */
/* ----------------------- */
/* Text & Paragraph Styles */
/* ----------------------- */
h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

/* --------------------- */
/* Button General Styles */
/* --------------------- */
button {
  height: auto;
  width: auto;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-primary {
  color: #ffffff;
  background: #384985;
  border: none;
}
.btn-primary:hover {
  opacity: 0.6;
}

.btn-secondary {
  border: solid 1px #ddd;
  background: none;
}
.btn-secondary:hover {
  background: #eee;
}

.mainDivAP {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  color: #252525;
}

.formAP {
  margin: 1%;
}

.shopping-cart {
  position: absolute;
  right: 20px;
  top: 100px;
  border-radius: 50%;
  background-color: darkorchid;
  width: 40px;
  height: 40px;
  align-content: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: whitesmoke;
}

.catalogue-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  padding: 5rem 20%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  display: block;
  margin: auto;
  font-size: 10rem;
  color: #00ffa2;
}

p {
  height: 6rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 200;
  background: #00ffa2;
  color: #004466;
}

.mainDivDP {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  color: #252525;
}

.formDP {
  margin: 1%;
}

.mainDivEP {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  color: #252525;
  white-space: pre;
}

.formEP {
  margin: 1%;
}

.landing-section {
  width: 100%;
  height: 400px;
  padding: 2rem 0 0 4rem;
  background-color: #ddd;
  background-image: url("https://cdn.discordapp.com/attachments/829710868413546511/829924062276485121/face.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.landing-title {
  color: #fff;
  max-width: 50rem;
  margin: 2rem 0;
  line-height: 4rem;
}
.landing-title .title-bg {
  padding: 0.35rem;
  background: rgba(56, 73, 133, 0.4);
}

.landing-action {
  border: none;
  background: #6874b5;
  color: #fff;
}
.landing-action:hover {
  opacity: 0.8;
}

@-webkit-keyframes grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100px;
}

.loader-wheel {
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: "Loading";
  -webkit-animation: load 2s linear infinite;
          animation: load 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  67% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}
@keyframes load {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  67% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}
nav {
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  background: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-buttons_navigation li {
  display: inline-block;
  height: 3rem;
  margin: 0 0.2rem;
  padding: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #37474f;
  border-bottom: 3px solid #ddd;
}
.nav-buttons_navigation li:hover {
  border-bottom: 3px solid #384985;
}

.nav-link {
  text-decoration: none;
}

.nav-buttons_authentication {
  display: flex;
}

.fa-shopping-cart {
  font-size: 25px;
  color: #384985;
}

.Icon-Cart {
  background-color: #f2d6d6;
  padding: 5px;
  border-radius: 100%;
  border: 1px solid white;
  width: 50px;
}

.product-card {
  display: grid;
  grid-template: 155px 3rem 1rem/1fr 1fr 1fr;
  width: 300px;
  margin-bottom: 25px;
  background: linear-gradient(356deg, #7e57c2, #e91e63);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
}
.product-card > h4 {
  grid-area: 2/1/3/4;
  margin-left: 1rem;
  font-size: 18px;
  margin-top: 15px;
  text-shadow: 1px 2px 5px black;
}
.product-card > h6 {
  grid-area: 3/1/4/3;
  margin-left: 1rem;
  font-size: 13px;
  margin-top: -4px;
  text-shadow: 1px 2px 5px black;
}
.product-card img {
  grid-area: 1/1/2/4;
  width: 300px;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
  transition: transform 0.5s;
  text-shadow: 1px 2px 5px black;
}
.product-card:hover {
  transition: transform 0.5s;
  transform: scale(1.3);
}

a.link {
  text-decoration: none;
}

.add {
  font-size: 30px;
  color: #a99cbf;
}

.remove {
  font-size: 30px;
  color: #291e3d;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
}

.preview {
  display: flex;
  margin-top: 20px;
  /* width: 680px; */
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 4px 6px blueviolet;
}

.detailProd {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 30px;
  margin-top: 20px;
  border-right: 20px;
  /* border: 1px solid blueviolet; */
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgba(236, 235, 232, 0.836);
}

.det {
  margin-top: 15px;
}

.description {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 25px;
}

.form-container {
  width: 100%;
  height: 100vh;
  background-color: #384985;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 82% 60%, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 69%, transparent 69%, transparent 100%), radial-gradient(circle at 36% 0%, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 59%, transparent 59%, transparent 100%), radial-gradient(circle at 58% 82%, rgba(4, 4, 4, 0.06) 0%, rgba(4, 4, 4, 0.06) 17%, transparent 17%, transparent 100%), radial-gradient(circle at 71% 32%, rgba(19, 19, 19, 0.06) 0%, rgba(19, 19, 19, 0.06) 40%, transparent 40%, transparent 100%), radial-gradient(circle at 77% 5%, rgba(31, 31, 31, 0.06) 0%, rgba(31, 31, 31, 0.06) 52%, transparent 52%, transparent 100%), radial-gradient(circle at 96% 80%, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.06) 73%, transparent 73%, transparent 100%), radial-gradient(circle at 91% 59%, rgba(252, 252, 252, 0.06) 0%, rgba(252, 252, 252, 0.06) 44%, transparent 44%, transparent 100%), radial-gradient(circle at 52% 82%, rgba(25, 20, 20, 0.06) 0%, rgba(25, 20, 20, 0.06) 87%, transparent 87%, transparent 100%), radial-gradient(circle at 84% 89%, rgba(160, 160, 160, 0.06) 0%, rgba(160, 160, 160, 0.06) 57%, transparent 57%, transparent 100%), linear-gradient(450deg, #384985, #1669f2);
}
.form-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.form-container .form {
  position: relative;
  width: 320px;
  padding: 15px;
  background-color: #fafafa;
  top: -100px;
  border-radius: 1px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.37);
}
.form-container .form .a__signin {
  margin-top: 30px;
}
.form-container .form .a__signin a {
  color: #384985;
}
.form-container .form .a__signin a:hover {
  color: #1669f2;
}
.form-container .form h5 {
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Roboto";
  font-weight: 600;
  color: #384985;
}
.form-container .form p {
  text-align: center;
  margin-bottom: 10px;
}
.form-container .form .form-control {
  width: 100%;
  height: 20px;
  border: 0px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #fafafa;
  border-bottom: 1px solid #dadfe0;
  transition: border-bottom 0.3s ease;
  border-radius: 0px;
}
.form-container .form .form-control:focus {
  outline: none;
  border-bottom: 1px solid #384985;
}
.form-container .form .btn {
  width: 100%;
  background-color: #384985;
  border: none;
  margin-bottom: 25px;
  padding: 5px 15px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
.form-container .form .btn:focus {
  outline: none;
}
.form-container .form .btn:disabled {
  background-color: #9ba8d5;
}
.form-container .form .btn:hover {
  background-color: #293561;
}
.form-container .form .google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
.form-container .form .google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #fff;
}
.form-container .form .google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.form-container .form .google-btn .btn-text {
  width: 100%;
  float: right;
  margin: 11px 0px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
}
.form-container .form .google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.form-container .form .google-btn:active {
  background: #1669f2;
}

.register {
  margin-top: 10px;
}

.a__register a {
  color: #384985;
}
.a__register a:hover {
  color: #1669f2;
}/*# sourceMappingURL=styles.css.map */