.shopping-cart {
  position: absolute;
  right: 20px;
  top: 100px;
  border-radius: 50%;
  background-color: darkorchid;
  width: 40px;
  height: 40px;
  align-content: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: whitesmoke;
}
