$primary: #384985;
$primary-light: #6874b5;

.landing-section {
  width: 100%;
  height: 400px;
  padding: 2rem 0 0 4rem;
  background-color: #ddd;
  background-image: url("https://cdn.discordapp.com/attachments/829710868413546511/829924062276485121/face.jpg");
  background-size: cover;
  background-position: center center;
  animation-name: grow;
  animation-duration: 0.5s;
}

.landing-title {
  color: #fff;
  max-width: 50rem;
  margin: 2rem 0;
  line-height: 4rem;
  & .title-bg {
    padding: 0.35rem;
    background: rgba(56, 73, 133, 0.4);
  }
}

.landing-action {
  width: 150px;
  border: none;
  background: $primary-light;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 9999px;
  text-transform: capitalize;
  &:hover {
    opacity: 0.8;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
